*{
     padding: 0;
     margin: 0;
}

body{
     font-family: sans-serif;
}
.content{
     position: absolute;
     top: 0px;
     height: 100%;
     width: 100%;
}

.child-content{
     height: 87%;
     width: 100%;
}

.img-profile{
     height: 90px;
     width: 90px;
     margin-top: 25px;
     border-radius: 50%;
     background-color: #fff;
}

.username{
     margin-top: 5px;
     margin-bottom: 15px;
     font-size: 17px;
     font-weight: bold;
}

.list{
     height: 68%;
     overflow-y: scroll;
     
}

.section-name{
     margin: 5px;
     padding: 5px;
     font-size: 16px;
}

.apps{
     font-size: 15px;
     padding: 10px;
     display: flex;
     flex-direction: column;
     text-align: center;
     text-decoration: none;
     cursor: pointer;
}

.apps:hover{
     transition: 0.3s;
}

.footer{
     height: 10%;
     width: 100%;
     position: absolute;
     bottom: 0px;
     display: flex;
     flex-direction: column;
     align-items: center;
     background: none;
}

.logo{
     height: 20px;
     margin: 5px;
     background-size: cover;
}

.copyright{
     display: flex;
     flex-direction: row;
     flex-wrap: nowrap;
     color: #D3D3D3;
     font-size: 11px;
     opacity: 90%;
}

.lg-year{
     margin-right: 1.2px;
}

.who-img{
     margin-left: 1.2px;
}
