*{
               margin: 0;
               padding: 0;
          }
          
          body{
               font-family: sans-serif;
               background-color: #121212;
          }

          .header{
               height: 60px;
               width: 100%;
               /*
               background-image: URL();
               */
               background-color: #000;
               position: fixed;
          }

          .logo{
               height: 30px;
               padding: 13px;
               cursor: pointer;
          }

          .noticia{
               padding: 15px;
          }
          
          .missao{
               color: #000;
               font-size: 32px;
               margin-top: 80px;
          }

          .titulo{
               color: #fff;
               font-size: 32px;
               margin-top: 60px;
          }

          .subtitulo{
               color: #B2B2B2;
               margin-top: 10px;
               margin-bottom: 15px;
          }
          
          .ler{
               width: 250px;
               height: 40px;
               border: none;
               border-radius: 3px;
               color: #fff;
               background-color: #9143FB;
               font-weight: bold;
               cursor: pointer;
               margin-bottom: 15px;
          }
          
          .ler:hover{
               color: #fff;
               background-color: #000;
               border: 3px solid #9143FB;
               transition: 0.5s;
          }

          .trailer{
               width: 250px;
               height: 40px;
               border: none;
               border-radius: 3px;
               color: #000;
               background-color: #fff;
               font-weight: bold;
               cursor: pointer;
               margin-bottom: 100px;

          }

          .trailer:hover{
               color: #fff;
               background-color: #000;
               border: 3px solid #fff;
               transition: 0.5s;
          }

          .poster{
               margin-bottom: 50px;
          }

          .posterwere{
               width: 300px;
               height: 160px;
          }

          .thumb{
               height: 100%;
               width: 100%;
               /*1600x900.jpg*/
               border: 1px solid #000;
          }

         

          .info-site{
               color: #8E8E8E;
               padding-top: 10px;
               padding-bottom: 10px;
               font-size: 12px;
          } 
@media (min-width: 767px) {

.titulo, .subtitulo{
     text-align: center;
}

}
